body {
    margin: 0;
    padding: 10px;
    font-family: 'Italiana', serif;
}

header {
    text-align: center;
}

.showcase__images img {
    width: 200px;
    height: 200px;
}

.showcase__images {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.showcase__labels {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.priceSelection {
    margin-top: 5em;
    text-align: center;
}

@media screen and (max-width: 640px) {
    body {
        font-size: small;
    }
    .showcase {
        margin: 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .showcase__images {
        flex-direction: column;
    }
    .showcase__labels {
        flex-direction: column;
    }
    .showcase__images img {
        width: 100px;
        height: 100px;
    }
}
